<div class="row">
    <div class="col-md-12 border rounded  mb-4 p-3 ">
        <img class="img-fluid float-left p-2 mb-5 bg-light rounded-circle mr-3" [src]="image" class="img-fluid" align="center"><span class="h5 fluid text-dark mt-2 mx-2"><b>{{title}}</b></span>
       <br>
        <ul>
            <li>
               {{data}}
            </li>
        </ul>
        <br><hr>
        <!-- <img class="img-fluid float-right ml-3" src="images/DotsThree.png"> -->
        <img class="img-fluid float-right" src="../../../../assets/images/settings/edit-2.png" style="float: right;">
    </div>
</div>
