.container {
    max-width: 800px;
  }
  
  .card-img-top {
    max-height: 400px;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1.1rem;
  }
  .fa-solid{
    color: #140261;
    font-weight: bolder;
    font-size: xx-large;
    text-align:left;
   
  }