
<h2 mat-dialog-title>Edit Fee Structure & Installment</h2>

<mat-dialog-content>
  <form [formGroup]="feeStructureForm">
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Total Installments</mat-label>
      <input matInput type="number" formControlName="totalInstallment">
    </mat-form-field>
  </form>
  <!-- <pre>{{ installmentForm?.value | json }}</pre> -->
  <form [formGroup]="installmentForm">
    <table mat-table [dataSource]="installments.controls" formArrayName="installments">
      <!-- Installment No -->
      <ng-container matColumnDef="installmentNumber">
        <th mat-header-cell *matHeaderCellDef>Installment #</th>
        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
          {{ row.get('installmentNumber')?.value }}
        </td>
      </ng-container>
      <ng-container matColumnDef="feeId">
        <th mat-header-cell *matHeaderCellDef style="display: none;"></th>
        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i" style="display: none;">
          <input type="hidden" formControlName="feeId" />
        </td>
      </ng-container>
      <!-- Due Date -->
      <ng-container matColumnDef="dueDate">
        <th mat-header-cell *matHeaderCellDef>Due Date</th>
        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
          <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="picker" formControlName="dueDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
      </ng-container>

      <!-- Amount -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
          <mat-form-field appearance="fill">
            <input matInput type="number" formControlName="amount">
          </mat-form-field>
        </td>
      </ng-container>

      <!-- Status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
          <mat-form-field appearance="fill">
            <mat-select formControlName="status">
              <mat-option [value]="1">Pending</mat-option>
              <mat-option [value]="0">Paid</mat-option>
               <mat-option [value]="2">PartiallyPending</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div *ngIf="validationErrorMessage" style="color: red; margin-top: 10px;">
      {{ validationErrorMessage }}
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="onUpdate()">Update</button>
</mat-dialog-actions>

