<nav class="navbar navbar-expand-lg navbar-light ">
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mx-5" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/settings/company" style="color:black">CompanyProfile</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/settings/provider"  style="color:black">Update Profile</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/settings/account"  style="color:black">ChangeUsername</a>
        </li> -->
      </ul>
    </div>
  </nav>

<router-outlet></router-outlet>
