<!-- <div class="container">

    <div class="row">
        <div class="col border border-secondary rounded p-3 m-2"*ngFor="let skill of skills">
            <p>Skill Name  : {{skill.name}}</p>
            <p>Description : {{skill.description}}</p>
            <button mat-icon-button class="text-danger position-absolute bottom-2 " (click)="deleteSkill(skill.id)">
                <mat-icon>delete</mat-icon>
              </button>
        </div>

    </div>
    <button type="submit" mat-raised-button color="primary" class="m-2 p-2" (click)=" navigateToAddSkills()">Add Skill</button>
</div> -->
<div class="container py-5">
    <div class="row ">
      <div class="col m-2" *ngFor="let skill of skills">
        <div class="card-container border border-secondary rounded p-3 position-relative">
          <p><span class="fw-bold">Skill Name : </span>{{ skill.name }}</p>
          <p><span class="fw-bold">Description : </span> {{ skill.description }}</p>
          <br>
          <button mat-icon-button class="text-danger position-absolute bottom-0" (click)="deleteSkill(skill.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
    
    <div class=" btn m-2 text-white" style="width: 9%; background-color: rgb(4, 4, 232);" (click)= navigateToAddSkills() >Add Skill</div>
  </div>
  