.border {
    border: 1px solid #525258!important;
    box-shadow: 1px 1px 0px 1px;
}

.rounded-pill {
    border-radius: 1rem!important;
}

.custom-row{
    border-radius: 20px;
}
.col-md-4 {
    flex: 0 0 auto;
    width: 80%;
}
.row{
    display: flex;
    justify-content: center;
}
.custom-button{
    color:#fff;
    background-color: #0d6efd;
    border:0;
    border-radius: 5px;
}
