
<div class="container" *ngIf="emailVerified">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6">
      <div class="rounded p-4" style="background-color: #fefeff; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); border: 3px solid rgb(253, 253, 253);">

        <!-- Image and Icons -->
        <div class="text-center">
          <img src="../../../../../assets/images/img1.jpg" class="img-fluid rounded-circle mb-4 mt-2" alt="Side Image"
            width="60%" height="60%">
        </div>

        <!-- <h2 class="text-center mb-4">Set Password</h2> -->

        <form #passwordForm="ngForm" (ngSubmit)="submitForm(passwordForm)">
          <div class="form-group">
            <label for="password">
              <i class="fas fa-lock"></i> Password:
            </label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password"
              #passwordControl="ngModel" required minlength="6" />
            <div *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)">
              <div *ngIf="passwordControl.hasError('required')" class="text-danger">
                Password is required.
              </div>
              <div *ngIf="passwordControl.hasError('minlength')" class="text-danger">
                Password must be at least 8 characters long.
              </div>
            </div>
          </div>

          <div class="form-group mt-2">
            <label for="confirmPassword">
              <i class="fas fa-check-double"></i> Confirm Password:
            </label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
              [(ngModel)]="user.confirmPassword" #confirmPasswordControl="ngModel" required />
            <div
              *ngIf="confirmPasswordControl.invalid && (confirmPasswordControl.dirty || confirmPasswordControl.touched)">
              <div *ngIf="confirmPasswordControl.hasError('required')" class="text-danger">
                Confirm Password is required.
              </div>
            </div>
          </div>
          <div *ngIf="passwordMismatch" class="text-danger">
            Passwords do not match.
          </div>
          <button type="submit" class="btn btn-primary btn-block mt-4" [disabled]="passwordForm.invalid">
            Submit <i class="fas fa-paper-plane"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="!emailVerified">
<app-spinner></app-spinner>
</ng-container>

















