<div class="container-fluid mt-5 p-5 py-5">

  <div *ngIf="successMessage" class="success-box">
  {{ successMessage }}
</div>
<div *ngIf="errorMessage" class="error-box">
  {{ errorMessage }}
</div>
  <form [formGroup]="skillForm" (ngSubmit)="onSubmit()" class="skill-form ">
    
    <mat-form-field class="skill-full-width">
      <input matInput placeholder="Skill Name" formControlName="name">
    </mat-form-field>
    
    <mat-form-field class="skill-full-width">
      <textarea matInput placeholder="Skill Description" formControlName="description"></textarea>
    </mat-form-field>
    <button type="submit" mat-raised-button  class="m-2  text-white "  style="background-color: rgb(4, 4, 232);">Add Skill</button>
    <div class=" btn m-2 text-white "  style="width: 9%; background-color: rgb(4, 4, 232);" (click)=navigateToSkillsView()>List</div>
  </form>
</div>