<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-12 searchbar border border-2 m-3 p-2 rounded-5 bg-white">
            <div class=" row input-group ">
                <!-- Search input -->
                <div class="col-md-9">
                    <input type="text" class="form-control border-0"
                        placeholder="Search by Title,Company or any jobs keyword" aria-label="Search">
                </div>
                <!-- Filter button -->
                <div class="col-md-1 filter d-flex rounded-pill">
                   Filter<i class="bi bi-search ps-2 text-primary"></i>
                </div>
                <!-- Find button -->
                <div class="col-md-1 d-flex ms-2 find rounded-pill">
                    Find<i class="bi bi-sliders ps-2  text-primary"></i>

                </div>
            </div>
        </div>

    </div>

</div>