<div class="same-width-box">
<div class="progress-wrapper">
  <mat-progress-bar
    mode="determinate"
    [value]="progressValue"
    color="primary"
    class="progress-bar"
  ></mat-progress-bar>

  <div class="steps-container">
    <div
      *ngFor="let step of steps; let i = index"
      class="step-circle"
      [class.active]="i <= currentStep"
      [style.left.%]="(i / (steps.length - 1)) * 100"
    >
      {{ i + 1 }}
    </div>
  </div>

  <div class="step-labels">
    <div
      *ngFor="let step of steps; let i = index"
      class="step-label"
      [style.left.%]="(i / (steps.length - 1)) * 100"
    >
      {{ step.label }}
    </div>
  </div>
</div>
</div>


<div class="secondary-contact-container mat-elevation-z4">
  <h2 class="form-title mat-primary">Secondary Contact</h2>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="form-grid">
      <mat-form-field appearance="outline" class="form-group">
        <mat-label>Guardian Name</mat-label>
        <input matInput formControlName="guardianName" placeholder="Enter guardian name" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-group">
        <mat-label>Relation</mat-label>
        <input matInput formControlName="relation" placeholder="Enter relation" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-group">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" placeholder="Enter phone number" />
        <mat-error *ngIf="contactForm.get('phone')?.hasError('pattern')">
          Enter a valid 10-digit phone number
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-group full-width">
        <mat-label>Address</mat-label>
        <textarea matInput formControlName="adress" placeholder="Enter address"></textarea>
      </mat-form-field>
    </div>

    <div class="btn-wrapper">
      <button mat-raised-button color="primary" type="submit" [disabled]="contactForm.invalid">
        Next
      </button>
    </div>
  </form>
</div>
