<div class="col-md-6 ">
    <h6>Rajeev M.V</h6>
    <p>Online Now</p>


    <!-- <div class="message-box">
        <div class="message-arrow"></div>
        <div class="message-content">

            <p> Thank you for expressing interest to join Aitrich academy.To get you started with your application we
                will ask some questions </p>
            <button (click)="closeMessageBox()">Close</button>
        </div>
    </div> -->

    <div class="col-md-12" >
        <div class="align-right box-sender arrow-left" >
            This is a box with some content and an arrow on the right.
        </div>
    </div>
    
        <div class="col-md-12">
            <div class="box arrow-right">
                This is a box with some content and an arrow on the right.
            </div>
        </div>
    
</div>