<!-- <button class="btn btn-outline-danger" (click)="openModal()">Delete</button> -->

<div class="modal">
  <div class="modal-content">
    <!-- <span class="close" (click)="onConfirm(false)">×</span> -->
    <div class="modal-header">
      ⚠️ <strong>Delete</strong>
    </div>
    <div class="modal-body">
      Are you sure want to delete?
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="onConfirm()">Yes</button>
      <button class="btn btn-primary" (click)="onCancel()">No</button>
    </div>
  </div>
</div>


