.reminder-btn {
  background-color: #062be1; /* Light blue */
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px 5px;
  font-size: 12px;
  min-width: unset;
  height: 30px;
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 4px;
  
}

/* .reminder-btn .icon {
  font-size: 14px;
  margin-top: 10px;
} */