<!-- Left-side column with all messages -->
<div class="container mt-3">
    <div class="row">
          <div class="col-md-6 border border-grey rounded">
            <div class="message-list d-flex mt-3">
              <div class="message-window d-flex">
                <div class="message-item">
                  <h6 class="chat-header">All Messages   <img src="../../../../assets/images/messages/Vector.png" height="5" width="10"></h6>
                </div>
              </div>  
              <div class="message-time d-flex flex-column"> 
                  <img src="../../../../assets/images/messages/Frame 2.png" height="20" width="20">
              </div> 
            </div>  
  
            <div class="message-list d-flex mt-4">
                <div class="message-window d-flex">
                    <div class="message-item">
                        <img src="../../../../assets/images/messages/Ellipse 175.png" alt="Profile Picture" class="profile-picture">
                        <img src="../../../../assets/images/messages/Ellipse 177.png" alt="Online Icon" class="online-icon mt-3">
                    </div>
                    <div class="message-info">
                        <h6 class="profile-name custom-profile-name ms-3">Amazon HR Manager</h6>
                        <p class="message-time custom-message ms-3">Congratulations !</p>
                    </div>
                </div>  
                <div class="message-time d-flex flex-column"> 
                    <h6 class="message-time">10:58 AM</h6>
                    <img src="../../../../assets/images/messages/Number.png" alt="notification-img" height="15" width="15">
                </div> 
            </div>  
        
            <div class="message-list d-flex mt-2">
                <div class="message-window d-flex">
                    <div class="message-item">
                        <img src="../../../../assets/images/messages/Ellipse 175 (1).png" alt="Profile Picture" class="profile-picture">
                    </div>
                    <div class="message-info">
                        <h6 class="profile-name custom-profile-name ms-3">Maersk HR Manager</h6>
                        <p class="message-time custom-message ms-3"><img src="../../../../assets/images/messages/Icon.png" alt="notification-img" height="12" width="12">  Thank you sir!</p>
                    </div>
                </div>  
                <div class="message-time d-flex flex-column"> 
                    <h6 class="message-time">10:56 AM</h6>
                </div> 
            </div>  
          
            <div class="message-list d-flex mt-2">
              <div class="message-window d-flex">
                  <div class="message-item">
                      <img src="../../../../assets/images/messages/Ellipse 175 (2).png" alt="Profile Picture" class="profile-picture">
                      <img src="../../../../assets/images/messages/Ellipse 177.png" alt="Online Icon" class="online-icon mt-3">
                  </div>
                  <div class="message-info">
                      <h6 class="profile-name custom-profile-name ms-3">Aitrich Tech. HR Manager</h6>
                      <p class="message-time custom-message ms-3"><img src="../../../../assets/images/messages/Frame 9.png" alt="notification-img" height="15" width="15">Sorry, I no longer need a job</p>
                  </div>
              </div>  
              <div class="message-time d-flex flex-column"> 
                  <h6 class="message-time">10:52 AM</h6>
              </div> 
            </div>  
          
            <div class="message-list d-flex mt-2">
              <div class="message-window d-flex">
                  <div class="message-item">
                      <img src="../../../../assets/images/messages/Ellipse 175 (3).png" alt="Profile Picture" class="profile-picture">
                  </div>
                  <div class="message-info">
                      <h6 class="profile-name custom-profile-name ms-3">Shoppee HR Manager</h6>
                      <p class="message-time custom-message ms-3"><img src="../../../../assets/images/messages/Icon (1).png" alt="notification-img" height="15" width="15">Hoping for your soon response.</p>
                  </div>
              </div>  
              <div class="message-time d-flex flex-column"> 
                  <h6 class="message-time">10:47 AM</h6>
              </div> 
            </div> 
                
            <div class="message-list d-flex mt-2">
              <div class="message-window d-flex">
                  <div class="message-item">
                      <img src="../../../../assets/images/messages/Ellipse 175 (4).png" alt="Profile Picture" class="profile-picture">
                  </div>
                  <div class="message-info">
                      <h6 class="profile-name custom-profile-name ms-3">Flipkart HR Manager</h6>
                      <p class="message-time custom-message ms-3"><img src="../../../../assets/images/messages/Icon.png" alt="notification-img" height="12" width="12">Hoping for your soon response.</p>
                  </div>
              </div>  
              <div class="message-time d-flex flex-column"> 
                  <h6 class="message-time">10:46 AM</h6>
              </div> 
            </div>  
          
            <div class="message-list d-flex mt-2">
              <div class="message-window d-flex">
                  <div class="message-item">
                      <img src="../../../../assets/images/messages/Ellipse 175 (5).png" alt="Profile Picture" class="profile-picture">
                  </div>
                  <div class="message-info">
                      <h6 class="profile-name custom-profile-name ms-3">Elon Musk</h6>
                      <p class="message-time custom-message ms-3">We have received your Application.</p>
                  </div>
              </div>  
              <div class="message-time d-flex flex-column"> 
                  <h6 class="message-time">10:41 AM</h6>
                  <img src="../../../../assets/images/messages/Number.png" alt="notification-img" height="15" width="15">
              </div> 
            </div>  
          
            <div class="message-list d-flex mt-2">
              <div class="message-window d-flex">
                  <div class="message-item">
                      <img src="../../../../assets/images/messages/Ellipse 175 (6).png" alt="Profile Picture" class="profile-picture">
                  </div>
                  <div class="message-info">
                      <h6 class="profile-name custom-profile-name ms-3">Google HR Manager</h6>
                      <p class="message-time custom-message ms-3"><img src="../../../../assets/images/messages/Icon.png" alt="notification-img" height="12" width="12">Thank You Sir!</p>
                  </div>
              </div>  
              <div class="message-time d-flex flex-column"> 
                  <h6 class="message-time">10:37 AM</h6>
              </div> 
            </div>  
          </div>
    
        <!-- Right-side column with chat window -->
        <div class="col-md-6 border border-grey rounded">
            <div class="chat-window">
                <div class="message-list d-flex mt-2">
                    <div class="message-window d-flex">
                        <div class="message-item">
                            <img src="../../../../assets/images/messages/Ellipse 175 (2).png" alt="Profile Picture" class="profile-picture" height="40" width="40">
                            <img src="../../../../assets/images/messages/Ellipse 177.png" alt="Online Icon" class="online-icon mt-3">
                        </div>
                        <div class="message-info">
                            <h6 class="profile-name custom-profile-name ms-3">Aitrich Tech. HR Manager</h6>
                            <h6 class="profile-online ms-3">Online Now</h6>
                        </div>
                    </div>  
                    <div class="message-time d-flex align-items-center"> 
                        <img src="../../../../assets/images/messages/Icon (2).png">
                    </div> 
                    <div class="message-time d-flex align-items-center"> 
                        <img src="../../../../assets/images/messages/Frame 2.png">
                    </div> 
                </div> 
                <hr>
                <div class="chat-box1 border mt-2 p-2">
                <p class="thinking-text">"I'm having trouble logging into my account.
                    Every time I try to sign in, I get an error message
                    saying that my login credentials are incorrect.
                    I've tried resetting my password, but I'm still
                    having the same issue.".</p>
                </div>
                <div class="chat-box2 border mt-5 p-2 ms-5 d-flex justify-content-end">
                    <p class="thinking-text">Dear user,

                        I’m sorry to hear that you're having trouble
                        logging into your account. As a admin, I can
                        assist you with resolving this issue. Here are
                        some steps that you can take:</p>
                </div>
                <div class="input-group mt-5 border rounded">
                    <input type="text" class="form-control border-0" placeholder="Type your message here" aria-label="Text input with image">
                    <div class="input-group-append">
                      <span class="input-group-text border-0">
                        <img src="../../../../assets/images/messages/20.png" alt="Image">
                      </span>
                    </div>
                </div>
                   
            </div>
        </div>
    </div>
  </div>
    
  
