<div class="row">
  <div class="col-md-12 border rounded mb-4 p-3">

    <!-- HEADER -->
    <div class="d-flex align-items-center mb-3">
      <img 
        [src]="image"
        class="rounded-circle mr-3"
        style="width:40px; height:40px;"
      >

      <h5 class="m-0 text-dark">
        <b>{{ title }}</b>
      </h5>
    </div>

    <!-- LIST DATA -->
    <ul *ngIf="data && data.length > 0; else noData">
      <li *ngFor="let item of data">
        {{ item }}
      </li>
    </ul>

    <!-- EMPTY STATE -->
    <ng-template #noData>
      <p class="text-muted mb-0">No data available</p>
    </ng-template>

    <hr>

    <!-- EDIT ICON -->
    <!-- <div class="text-right">
      <img 
        src="assets/images/settings/edit-2.png"
        style="width:18px; cursor:pointer;"
      >
    </div> -->

  </div>
</div>