.container {
  max-width: 100wh;
  color: rgb(11, 11, 109);
}

.card {
  background-color: #ffffff;

}

.card:hover {
  box-shadow: 4 10px 50px rgba(15, 3, 3, 0.12);
}

.card-img-top {
  object-fit: cover;
  height: 50%;
}

.card-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.delete{
  color: #4f0505;
font-weight: bolder;
font-size: x-large;
text-align:left;

}
