.college-form-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  background: #fafafa;
  border-radius: 12px;
}

.form-title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
}

.form-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-group {
  flex: 1 1 45%;
  min-width: 250px;
}

.full-width {
  flex: 1 1 100%;
}

.btn-wrapper {
  text-align: center;
  margin-top: 30px;
}

.success-message {
  background-color: #e8f5e9;
  border: 1px solid #4caf50;
  padding: 12px;
  text-align: center;
  font-weight: 500;
  color: #2e7d32;
  margin-bottom: 20px;
}
.phone-compact .mat-form-field-wrapper {
  padding-bottom: 0px;
  padding-top: 0px;
}

.phone-compact .mat-form-field-flex {
  height: 0px;
  align-items: center;
}

.phone-compact .mat-input-element {
  height: 0px;   
  padding: 0 8px; 
  font-size: 14px;
}


.phone-compact .mat-form-field-label {
  font-size: 13px;
}