.course-form-card {
  max-width: 800px;
  /* margin: 40px auto; */
  padding: 20px;
}

.course-form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.form-field {
  flex: 1 1 45%;
}

.full-width {
  flex: 1 1 100%;
}

.button-row {
  text-align: right;
  margin-top: 20px;
}
.form-heading {
  color: #1976d2; /* Material Blue 700 */
  font-weight: bold;
  font-size: 24px;
}
.form-scroll-wrapper {
  max-width: 600px;
  height: 90vh;           
  overflow-y: fix;       
  margin: 0 auto;
  padding: 16px;
}
.course-form-card {
  padding: 16px;
}
.form-title {
  color: #3f51b5;
  margin-bottom: 24px;
  text-align: center;
}