.over-flow
{
  overflow-x: hidden;
}
@media only screen and (max-width:600px )
 {
    .sidebar button{
       z-index: 1;
        
    }
 }

 .container-fluid{
   font-family: auto;
 }

   
.container
 {
     display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}