    <div class="row">
        <div class="col-md-12">
        <div class="container-fluid py-3 whole-header">
            <div class="row">
                <div class="col-md-1">
                    <a class="navbar-brand pl-5" href="#">
                        <img src="../../../assets/images/header/ic_menu.png" width="20" height="20" >
                      </a>
            </div>
            <div class="col-md-2 pt-2">
                <h3>Job Seekers</h3>
            </div>
            <div class="col-md-5 pt-2">
            <div class="input-group search-input-group">
            <input type="text" class="form-control" placeholder="Search something here...">
            <div class="input-group-append">
                <span class="search-icon">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
            </div>
    
            </div>
            </div>
            <div class="col-md-1">
                <img src="../../../assets/images/header/noti.png" class="rounded-circle" width=" 50" height=" 50" >
            </div>
            <div class="col-md-1">
                <img src="../../../assets/images/header/notification.png" class="rounded-circle" width=" 50" height=" 50" >
            </div>
        
    
            <div class="col-md-2 d-flex rounded px-2">
                <img src="../../../assets/images/header/profile-img.png" class="mt-2" height="35" width="35">
                <div class="ms-2">
                  <a class="nav-link text-dark small mb-1 rounded" href="#"><b>Oda Dink</b><br>
                     Super Admin</a>
                </div>
              </div>
    
        </div>
    </div>
    </div>
    </div>
