/* your-component.component.css */
.card {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card::after {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    border: 8px solid transparent;
    border-radius: 12px;
    z-index: -1;
    animation: borderAnimation 3s infinite alternate;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

@keyframes borderAnimation {
    0% {
        border-color: #990967;
    }
    25% {
        border-color: #775d09;
    }
    50% {
        border-color: #890707;
    }
    75% {
        border-color: #07d326;
    }
    100% {
        border-color: #0b4158;
    }
}

.form-group {
    margin-bottom: 20px;
}

.mat-form-field {
    width: 100%;
}

.mat-input-element {
    color: #333;
}

.submit-btn {
    width: 100%;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
}

.submit-btn:hover {
    background-color: #2980b9;
}
