<h2 mat-dialog-title>Edit Qualification</h2>

<mat-dialog-content>
  <form [formGroup]="qualificationForm">
    <mat-form-field appearance="fill">
      <mat-label>College Name</mat-label>
      <mat-select formControlName="collegeName" required>
        <mat-option *ngFor="let college of colleges" [value]="college.collegeName">
          {{ college.collegeName }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="qualificationForm.get('collegeName')?.hasError('required')">
        College Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Qualification Name</mat-label>
      <input matInput formControlName="qualificationName" required>
      <mat-error *ngIf="qualificationForm.get('qualificationName')?.hasError('required')">
        Qualification Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Pass Out Year</mat-label>
      <input matInput formControlName="passOutYear" type="text" required>
      <mat-error *ngIf="qualificationForm.get('passOutYear')?.hasError('required')">
        Pass Out Year is required
      </mat-error>
      <mat-error *ngIf="qualificationForm.get('passOutYear')?.hasError('pattern')">
      Must be valid year
      </mat-error>
      <mat-error *ngIf="qualificationForm.get('passOutYear')?.errors?.['invalidYear']">
        Year must be between {{ minAllowedYear }} and {{ maxAllowedYear }}
        (at least 16 years old at the time of passout).
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!qualificationForm.valid">Save</button>
</mat-dialog-actions>
